PROJECT_NAME=example
API_PORT=5000

SECRET_KEY=BJeoP/3zVHPWJwnmeRurIt27vb8nu0M98BpYJE3xFE=
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30

DATABASE_FILE=sqlite_example.db
TEST_DATABASE_FILE=test_sqlite_example.db

DB_CLEAR_AT_THE_END=False
TIME_HEADER_LOGGING=False
MODE=DEV
LOG_LEVEL=INFO

SENTRY_DSN=